body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1 {
  color:#1eb2a6;
  width: 30%;
  margin: 0 auto;
  font-size: 5rem;
    font-family: 'Sacramento', cursive;

}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #1eb2a6;
  width: 30%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
h3 {
  color: #4cd3c2;
  font-weight: normal;
}


span {
  font-weight: normal;
}
p {
  line-height: 2rem;
}
hr {
  width: 5%;
  border-top: 0;
  border-style: dotted;
  border-bottom-width: 8px;
  border-color:#d4f8e8;
  margin: 60px auto;
}
a:hover {
  color: black;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.frontendPic {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.backendPic {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profilePic
{width: 15%;
padding: 30px;}





.skills {
  margin: 30px;
}

.top-container {
background-color: #d4f8e8;
position: relative;
padding-top: 100px;

}

.middle-container
{
  padding: 30px;

}

.bottom-container {
  background-color:#d4f8e8;
  padding: 30px;


}

.top-image
 { position: absolute;
   top: 50px;
   right: 330px;

 }
  .bottom-image {
    position: absolute;
    top: 150px;
    left: 330px;

  }
.footer-link {
  padding:10px;

  color: #4cd3c2;
  text-decoration: none;

  }

  .copyright {
    color: grey;
    margin: 30px 0;
    font-size: 0.75rem;
  }

.btn {
  color:#4cd3c2;
  text-decoration: underline;

}
.description {
   width: 50%;
   margin: auto;
}
